#######################################################################
#
# Owner: Andrej Georgi
# Parameter for the lemvos model
#
########################################################################


viewer.line_width = 2
projection.cam_distance = 1200
projection.cam_height = -10000

########################################################################
#
# shapes config:
#

#
# The number of vertices of the polygon for a circle
#
shapes.circle_precision = 50

########################################################################
#
# Material
#

material.Air.density = (2.0,3)
material.Air.color = 7f7f00
material.Air.thick = (1,2)
material.Air.spec = "DIN 01"

material.St37.density = (0.8,1.2)
material.St37.color = 7f7f7f
material.St37.thick = (2,5)
material.St37.spec = "ST 37"

########################################################################
#
# Parameter for exports
#
pdf.line_width = 1

########################################################################
#
# Lemvos model
#


lemvos.model_owner = "Georgi Bootbau"
lemvos.model_name = "first lemvos"

lemvos.water_line = 600

# radius resolution
lemvos.resolution = 10
lemvos.frame_distance = 600

# lemvos.radiusX = ( 1000, 1000, 1200, 1200, 1200, 1200, 1200, 1200, 1100, 1000, 700, 500, 330 )
# lemvos.width =   ( 2500, 2800, 3100, 3200, 3300, 3300, 3200, 3000, 2800, 2500, 1900, 1100, 700 )
# lemvos.height =  ( 800,  1000, 1300, 1400, 1500, 1500, 1500, 1500, 1500,1400,1300,1200,1000 )
# lemvos.height2 = ( 400,  500, 800, 900, 900, 900, 900, 900, 900, 900, 700, 500,300 )

lemvos.radiusX = ( 1000, 1000)
lemvos.width =   ( 2500, 2800 )
lemvos.height =  ( 800,  1000 )
lemvos.height2 = ( 600,  700 )
